<!DOCTYPE html>

<html>

<head>
  <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
  {{>header}}
  <p>
    <img src="/img/koboldoutfittersIcon.png" class="portrait">
<p>
    {{>footer}}
</body>

</html>
